@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-purple-800 transition duration-300 ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-900;
}
@font-face {
  font-family: 'aAtmospheric';
  src: url('../../public/font/aAtmospheric.ttf') format('woff2');
}
body {
  font-family: 'Poppins';
}
@layer base {
  .text-color-navbar {
    @apply text-black;
  }
}
@layer utilities {
  .space-700 {
    --tw-gradient-stops: rgba(5, 18, 33, 1), rgba(10, 39, 70, 1);
    background-image: var(--tw-gradient);
  }

  .space-900 {
    --tw-gradient-stops: rgba(0, 0, 0, 1), rgba(5, 18, 33, 1);
    background-image: var(--tw-gradient);
  }
}
.hamburger-active > span:nth-child(1) {
  @apply rotate-[40deg];
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-[40deg];
}

.landing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-image: url(../../public/img/starr.png);
  background-size: cover;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.nav-hover {
  @apply relative text-[12px]  font-medium text-black/90 after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-0 after:rounded-md after:bg-purple-800 after:transition-all after:content-[''] hover:after:w-full md:text-lg;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.logo,
h1.library {
  font-family: 'aAtmospheric';
}
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Atur jumlah baris maksimum */
  -webkit-box-orient: vertical;
}
.description.expanded {
  -webkit-line-clamp: inherit; /* Atur jumlah baris maksimum */
}
.s {
  @apply absolute left-0 top-0 h-full w-full bg-gradient-to-bl  from-purple-700 to-zinc-800 content-[""];
}
.bg-sticky::before {
  @apply absolute left-0 top-0 h-72 w-full bg-gradient-to-r from-purple-950 via-black to-purple-950 opacity-30 brightness-0 transition-all delay-300 duration-700 ease-out content-[''];
}
.bg-sticky::before.bgg {
  @apply opacity-100 brightness-100 transition-all delay-300 duration-700 ease-out;
}
#header-sticky.nav-sticky {
  @apply bg-gradient-to-r from-purple-950 via-black to-purple-950;
}
.p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.inputSearch {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.inputSearch::placeholder {
  color: transparent;
}

.inputSearch:focus::placeholder {
  color: rgb(131, 128, 128);
}

.inputSearch:focus,
.inputSearch:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(98, 0, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: rgb(98, 0, 255);
  border: 1px solid rgb(98, 0, 255);
}

.inputSearch:hover + .icon {
  transform: rotate(360deg);
  transition: 0.2s ease-in-out;
}

.inputSearch:focus + .icon,
.inputSearch:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}
.import {
  position: absolute;
  opacity: 0;
  cursor: pointer !important;
}
.fillter * {
  @apply bg-black;
}
